
body {
  background-image: url(back.png);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square {
  height: 100px;
  width: 500px;
  background-color: rgba(9, 131, 202, 0.322);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster', cursive;
  border-radius: 4px;
  text-shadow: 2px 2px rgb(0, 0, 0);
  animation: text 3s infinite;
}


@keyframes text {
  0% {color: white;}
  50% {color: rgb(7, 125, 221);}
  100% {color: white;}
}