@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(./light.png);
    animation: first ease-out;
    animation-duration: 2s;
}
a {
    text-decoration: none;
    list-style: none;
}
ul li a {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style: none;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(127, 17, 253);
    transition-duration: 2s;
}
.add {
    color: rgb(127, 17, 253) !important;
}
.container {
    display: flex;
    margin-top: 300px;
    font-size: 50px !important;
}
.size {
    display: flex;
    font-size: 4rem;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 1s;
}
.recontainer {
    font-size: 25px;
    margin-left: 400px;
    color: black;
    font-weight: bold;
    animation: textcolor 5s infinite;
}
.image {
    margin-left: 1000px;
    margin-top: -350px;
    transition-duration: 2s;
    animation: animate 2s infinite;
}
@keyframes first {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}
i {
    font-size: 60px;
    color: rgb(127, 17, 253);
    margin-left: 400px;
    
}

@keyframes animate {
    0% {}
    50% {filter: drop-shadow(0px 0px 10px #a863e59f);
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);}
}
@keyframes textcolor {
    0% {color: black;}
    25% {color: rgb(127, 17, 253);}
    50% {color: black;}
    75% {color: rgb(127, 17, 253);}
    100% {color: black;}
}